<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-title class="fadein">Hashing</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding" fixed>
    <ion-list>
      <ion-list-header class="ion-margin-bottom">
        <ion-label class="moving">User list</ion-label>
        <ion-button (click)="downloadFile()"  expand="block" fill="clear" shape="round">
          Download file
        </ion-button>
      </ion-list-header>
    </ion-list>

    <ion-list>
      @for (user of user$ | async; track $index) {
      <ion-item class="fadein">
        <ion-avatar aria-hidden="true" slot="start">
          <img
            alt=""
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
        <ion-label>
          <h2>{{user?.username}}</h2>
          <small> Hash: {{user?.password}}</small>
          <p>Email: {{user?.email}}</p>
          <p>Fist name: {{user?.firstName}}</p>
          <p>Last name: {{user?.lastName}}</p>
        </ion-label>
      </ion-item>
      }
    </ion-list>
  </ion-grid>
</ion-content>
